
.mfractor/

.vs/

bin/

obj/

.DS_Store

*.nupkg

source/packages/**

source/.idea.TetraPak.Auth.Xamarin/

source/.idea.TetraPak.Auth.Xamarin/.idea/


source/.idea/.idea.TetraPak.Auth.Xamarin/.idea/

source/.idea/.idea.TetraPak.Auth.Xamarin/

source/TetraPak.Auth.Xamarin.sln.DotSettings.user
